* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section {
  /*background: #eee;*/
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

img {
    position: relative;
    float: left;
    width:  250px;
    height: 200px;
    padding-left: 40px;
    padding-right: 40px;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;

}

p{
  margin: 0px 0px 0px 3px;
  padding: 0;
}
h3{
  margin: 0px 0px 0px 3px;
  padding: 0;
}
h1{
  text-decoration: none;
  display: inline;
}
